In [2]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_race_results_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_race_results = pickle.load(file)

In [3]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_qualifying_results_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_qualifying_results = pickle.load(file)

In [4]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_drivers_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_drivers = pickle.load(file)

In [5]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_teams_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_teams = pickle.load(file)

In [6]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_sprint_results_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_sprint_results = pickle.load(file)

In [7]:
# TO DO

# Model teams data per season, store it locally and create a DataFrame - TO DO
# Model drivers data per season, store it locally and create a DataFrame - TO DO

In [8]:
import pandas as pd
import numpy as np

In [9]:
df_drivers.head(5)

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number
0,2023,Alexander,Albon,ALB,1996-03-23,Thai,23
1,2023,Fernando,Alonso,ALO,1981-07-29,Spanish,14
2,2023,Valtteri,Bottas,BOT,1989-08-28,Finnish,77
3,2023,Nyck,de Vries,DEV,1995-02-06,Dutch,21
4,2023,Pierre,Gasly,GAS,1996-02-07,French,10

In [10]:
df_race_results.head(5)

,season,round,circuit,date,laps,first_name,last_name,driver_code,starting_position,ending_position,points,status,fastest_lap_time,fastest_lap_avg_speed,fastest_lap_rank,fastest_lap_lap,team,team_id
0,2023,1,Bahrain Grand Prix,2023-03-05,57,Max,Verstappen,VER,1,1,25,Finished,96236.0,202.452,6.0,44.0,Red Bull,red_bull
1,2023,1,Bahrain Grand Prix,2023-03-05,57,Sergio,Pérez,PER,2,2,18,Finished,96344.0,202.225,7.0,37.0,Red Bull,red_bull
2,2023,1,Bahrain Grand Prix,2023-03-05,57,Fernando,Alonso,ALO,5,3,15,Finished,96156.0,202.620,5.0,36.0,Aston Martin,aston_martin
3,2023,1,Bahrain Grand Prix,2023-03-05,57,Carlos,Sainz,SAI,4,4,12,Finished,97130.0,200.588,14.0,37.0,Ferrari,ferrari
4,2023,1,Bahrain Grand Prix,2023-03-05,57,Lewis,Hamilton,HAM,7,5,10,Finished,96546.0,201.802,10.0,36.0,Mercedes,mercedes

In [32]:
df_race_results['status'].unique()

array(['Finished', '+1 Lap', '+2 Laps', 'Mechanical', 'Engine',
       'Electrical', 'Brakes', 'Collision', 'Accident', 'Overheating',
       'Collision damage', 'Power loss', 'Oil leak', 'Retired',
       'Undertray', 'Steering', 'Technical', 'Gearbox', 'Withdrew',
       'Rear wing', 'Illness', 'Fuel leak', 'Radiator', 'Disqualified'],
      dtype=object)

In [11]:
df_qualifying_results.head(5)

,season,round,date,position,q1,q2,q3,first_name,last_name,driver_code,constructor
0,2023,1,2023-03-05,1,91295.0,91295.0,91295.0,Max,Verstappen,VER,Red Bull
1,2023,1,2023-03-05,2,91479.0,91479.0,91479.0,Sergio,Pérez,PER,Red Bull
2,2023,1,2023-03-05,3,91094.0,91094.0,91094.0,Charles,Leclerc,LEC,Ferrari
3,2023,1,2023-03-05,4,90993.0,90993.0,90993.0,Carlos,Sainz,SAI,Ferrari
4,2023,1,2023-03-05,5,91158.0,91158.0,91158.0,Fernando,Alonso,ALO,Aston Martin

In [12]:
df_sprint_results.head(5)

,season,round,circuit,date,time,position,points,first_name,last_name,driver_code,constructor
0,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,1,8,Sergio,Pérez,PER,Red Bull
1,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,2,7,Charles,Leclerc,LEC,Ferrari
2,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,3,6,Max,Verstappen,VER,Red Bull
3,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,4,5,George,Russell,RUS,Mercedes
4,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,5,4,Carlos,Sainz,SAI,Ferrari

In [13]:
df_teams.head(5)

,season,team_id,team_url,team_name,team_nationality
0,2023,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
1,2023,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
2,2023,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
3,2023,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
4,2023,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian

In [14]:
# Drivers data modelling:
# Each driver will have his own table
# Aggregations made from races:
# - Total points in Season - done
# - Total races completed - done
# - Total pole positions - done
# - Times qualified better than teammate
# - Average qualifying delta vs teammate
# - Total DNFs - done
# - Total Crashes - done
# - DNFs rate - done
# - Crash rate - done
# - Total overtakes in season - not in current data
# - Average points per race - done
# - Average qualifying position
# - Average ending position - done
# - Total points in Sprint - done
# - Average Starting position Sprint - done
# - Average Finishing position Sprint - done

In [15]:
def load_dfs():
    file_list = ['df_race_results_2023.pkl', 'df_qualifying_results_2023.pkl', 'df_sprint_results_2023.pkl', 'df_drivers_2023.pkl']
    df_name_list = ['df_race_results', 'df_qualifying_results', 'df_sprint_results', 'df_drivers']

    for i in range(len(file_list)):
        f = file_list[i]
        with open(f, 'rb') as file:
            df_name_list[i] = pickle.load(file)

In [16]:
df_drivers['last_name'].unique()

array(['Albon', 'Alonso', 'Bottas', 'de Vries', 'Gasly', 'Hamilton',
       'Hülkenberg', 'Lawson', 'Leclerc', 'Magnussen', 'Norris', 'Ocon',
       'Pérez', 'Piastri', 'Ricciardo', 'Russell', 'Sainz', 'Sargeant',
       'Stroll', 'Tsunoda', 'Verstappen', 'Zhou'], dtype=object)

In [17]:
df_sprint_results

,season,round,circuit,date,time,position,points,first_name,last_name,driver_code,constructor
0,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,1,8,Sergio,Pérez,PER,Red Bull
1,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,2,7,Charles,Leclerc,LEC,Ferrari
2,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,3,6,Max,Verstappen,VER,Red Bull
3,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,4,5,George,Russell,RUS,Mercedes
4,2023,4,Azerbaijan Grand Prix,2023-04-30,11:00:00Z,5,4,Carlos,Sainz,SAI,Ferrari
...,...,...,...,...,...,...,...,...,...,...,...
115,2023,20,São Paulo Grand Prix,2023-11-05,17:00:00Z,16,0,Kevin,Magnussen,MAG,Haas F1 Team
116,2023,20,São Paulo Grand Prix,2023-11-05,17:00:00Z,17,0,Guanyu,Zhou,ZHO,Alfa Romeo
117,2023,20,São Paulo Grand Prix,2023-11-05,17:00:00Z,18,0,Nico,Hülkenberg,HUL,Haas F1 Team
118,2023,20,São Paulo Grand Prix,2023-11-05,17:00:00Z,19,0,Valtteri,Bottas,BOT,Alfa Romeo
119,2023,20,São Paulo Grand Prix,2023-11-05,17:00:00Z,20,0,Logan,Sargeant,SAR,Williams

In [18]:
df_race_results[(df_race_results['team'] == 'Aston Martin') & (df_race_results['last_name'] != 'Alonso')]['last_name'].unique()

array(['Stroll'], dtype=object)

In [55]:
import pickle
import pprint
import math

def get_driver_stats(driver):
    #get all driver names
    #if driver in driver names
    #then filter by its name in dataframe
    if driver in(df_drivers['last_name'].unique()):
        df_drivers_filtered = df_drivers[df_drivers['last_name'] == driver].copy()
        df_races_filtered = df_race_results[df_race_results['last_name'] == driver].copy()
        df_sprints_filtered = df_sprint_results[df_sprint_results['last_name'] == driver].copy()

        df_drivers_filtered['team'] = df_races_filtered['team'].unique()
        df_drivers_filtered['total_points_races'] = df_races_filtered['points'].sum()
        df_drivers_filtered['total_races_completed'] = df_races_filtered[df_races_filtered['status'] == 'Finished']['circuit'].count()
        df_drivers_filtered['total_points_sprint'] = df_sprints_filtered['points'].sum()
        df_drivers_filtered['total_pole_positions'] = df_races_filtered[df_races_filtered['starting_position'] == 1]['circuit'].count()
        df_drivers_filtered['total_dnfs'] = df_races_filtered[~df_races_filtered['status'].isin(['Finished', '+1 Lap', '+2 Laps'])]['circuit'].count()
        df_drivers_filtered['total_crashes'] = df_races_filtered[df_races_filtered['status'].isin(['Collision', 'Collision damage' 'Accident'])]['circuit'].count()
        df_drivers_filtered['dnf_ratio'] = round((df_drivers_filtered['total_dnfs']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_drivers_filtered['crash_ratio'] = round((df_drivers_filtered['total_crashes']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_drivers_filtered['avg_points_per_race'] = math.trunc(np.ceil(df_races_filtered['points'].mean()))
        df_drivers_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
        df_drivers_filtered['avg_qualifying_position'] = math.trunc(np.ceil(df_races_filtered['starting_position'].mean()))
        df_drivers_filtered['avg_ending_position_race'] = math.trunc(np.ceil(df_races_filtered['ending_position'].mean()))
        df_drivers_filtered['avg_ending_position_sprint'] = math.trunc(df_sprints_filtered['position'].mean())
        df_drivers_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
  
        return df_drivers_filtered
    else:
        print("Please type a correct driver name")

In [43]:
test = get_driver_stats('Zhou')
test

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,...,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
21,2023,Guanyu,Zhou,ZHO,1999-05-30,Chinese,24,Alfa Romeo,6,12,...,0,3,1,13.64%,4.55%,1,0,15,15,15

In [21]:
# def get_stats_vs_teammate(driver):
#     if driver in(df_drivers['last_name'].unique()):
#         print(f"The driver is: {driver}")
#         # getting race results dataframe for selected driver
#         df_races_driver_filtered = df_race_results[df_race_results['last_name'] == driver].copy()
#         team = str(df_races_driver_filtered['team'].unique())
#         print(f"The team is: {team}")
#         print(f"The team is of type {type(team)}")
#         teammate = str(df_race_results[(df_race_results['team'] == team) & (df_race_results['last_name'] != driver)]['last_name'].unique())
#         print(f"The teammate is: {teammate}")
#         #df_races_driver_teammate_filtered = df_race_results[(df_race_results['team'] == df_races_driver_filtered['team'].unique()) & (df_race_results['last_name'] != df_races_driver_filtered['last_name'].unique())]['last_name'].copy()

#         #return df_races_driver_filtered, df_races_driver_teammate_filtered

In [22]:
# def format_time(ms):
#     # Convert milliseconds to total seconds
#     seconds = int(ms // 1000)
#     milliseconds = int(ms % 1000)
#     minutes = seconds // 60
#     seconds = seconds % 60?
    
#     # Format as mm:ss:ms
#     return f"{minutes:02}:{seconds:02}:{milliseconds:03}"

# # Apply the formatting function to the DataFrame column
# df['FormattedTime'] = df['TimeInMilliseconds'].apply(format_time)

In [23]:
# Teams data modelling:
# Each team will have its own table
# Aggregations made from races:
# - Total points in Season - done
# - Total DNFs - done
# - Total Crashes - done
# - Crash rate
# - DNFs rate
# - Average points per race
# - Fastest Pitstop
# - Pitstop Average Time per race
# - Fastest Pitstop Time Rank compared to other teams
# - Total races completed
# - Total overtakes in season - not in current data
# - Average starting position
# - Average qualifying position
# - Average ending position

In [44]:
df_race_results[df_race_results['team'] == 'Aston Martin']['last_name'].unique()

array(['Alonso', 'Stroll'], dtype=object)

In [56]:
def get_team_stats(team):
    df_teams_filtered = df_teams[df_teams['team'] == team].copy()
    df_races_filtered = df_race_results[df_race_results['team'] == team].copy()
    df_sprints_filtered = df_sprint_results[df_sprint_results['constructor'] == team].copy()

    # getting drivers from team
    df_teams_filtered['drivers'] = str(df_races_filtered['last_name'].unique())
        
    df_teams_filtered['total_points_season'] = df_races_filtered['points'].sum()
    df_teams_filtered['total_points_sprint'] = df_sprints_filtered['points'].sum()
    df_teams_filtered['total_pole_positions'] = df_races_filtered[df_races_filtered['starting_position'] == 1]['circuit'].count()
    df_teams_filtered['total_dnfs'] = df_races_filtered[~df_races_filtered['status'].isin(['Finished', '+1 Lap', '+2 Laps'])]['circuit'].count()
    df_teams_filtered['total_crashes'] = df_races_filtered[df_races_filtered['status'].isin(['Collision', 'Collision damage', 'Accident'])]['circuit'].count()
    df_teams_filtered['dnf_ratio'] = round((df_teams_filtered['total_dnfs']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
    df_teams_filtered['crash_ratio'] = round((df_teams_filtered['total_crashes']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
    df_teams_filtered['avg_points_per_race'] = math.trunc(np.ceil(df_races_filtered['points'].mean()))
    df_teams_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
    df_teams_filtered['avg_qualifying_position'] = math.trunc(np.ceil(df_races_filtered['starting_position'].mean()))
    df_teams_filtered['avg_ending_position_sprint'] = math.trunc(df_sprints_filtered['position'].mean())

    return df_teams_filtered

In [57]:
test = get_team_stats('Aston Martin')
display(test)

,season,team_id,team_url,team_name,team_nationality,drivers,total_points_season,total_points_sprint,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_sprint
3,2023,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British,['Alonso' 'Stroll'],266,14,0,7,2,15.91%,4.55%,7,2,9,10

In [58]:
alo = get_driver_stats('Alonso')
alo

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,...,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
1,2023,Fernando,Alonso,ALO,1981-07-29,Spanish,14,Aston Martin,198,20,...,0,2,0,9.09%,0.0%,9,2,7,7,10

In [59]:
stro = get_driver_stats('Stroll')
stro

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,...,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
18,2023,Lance,Stroll,STR,1998-10-29,Canadian,18,Aston Martin,68,16,...,0,5,0,22.73%,0.0%,4,1,11,12,11

In [60]:
srgnt = get_driver_stats('Sargeant')
srgnt

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,...,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
17,2023,Logan,Sargeant,SAR,2000-12-31,American,2,Williams,1,9,...,0,7,1,31.82%,4.55%,1,0,16,16,18

In [61]:
lclrc = get_driver_stats('Leclerc')
lclrc

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,...,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
8,2023,Charles,Leclerc,LEC,1997-10-16,Monegasque,16,Ferrari,185,17,...,5,5,1,22.73%,4.55%,9,4,5,9,6