In [1]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_race_results_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_race_results = pickle.load(file)

In [2]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_qualifying_results_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_qualifying_results = pickle.load(file)

In [3]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_drivers_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_drivers = pickle.load(file)

In [4]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_teams_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_teams = pickle.load(file)

In [5]:
import pickle 
import pprint

# The filename of the pickle file you want to open
f = 'df_sprint_results_2023.pkl'

# Open the file in binary read mode ('rb') and use pickle.load() to load the data
with open(f, 'rb') as file:
    df_sprint_results = pickle.load(file)

In [6]:
# TO DO

# Model teams data per season, store it locally and create a DataFrame - TO DO
# Model drivers data per season, store it locally and create a DataFrame - TO DO

In [7]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [8]:
df_drivers.head(5)

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number
0,2023,Alexander,Albon,ALB,1996-03-23,Thai,23
1,2023,Fernando,Alonso,ALO,1981-07-29,Spanish,14
2,2023,Valtteri,Bottas,BOT,1989-08-28,Finnish,77
3,2023,Nyck,de Vries,DEV,1995-02-06,Dutch,21
4,2023,Pierre,Gasly,GAS,1996-02-07,French,10

In [9]:
df_race_results.head(5)

,season,round,circuit,date,laps,first_name,last_name,driver_code,starting_position,ending_position,points,status,finish_time,finish_time_ms,fastest_lap_time,fastest_lap_time_ms,fastest_lap_avg_speed,fastest_lap_rank,fastest_lap_lap,team,team_id
0,2023,1,Bahrain Grand Prix,2023-03-05,57,Max,Verstappen,VER,1,1,25,Finished,1:33:56.736,5636736,1:36.236,96236.0,202.452,6.0,44.0,Red Bull,red_bull
1,2023,1,Bahrain Grand Prix,2023-03-05,57,Sergio,Pérez,PER,2,2,18,Finished,+11.987,5648723,1:36.344,96344.0,202.225,7.0,37.0,Red Bull,red_bull
2,2023,1,Bahrain Grand Prix,2023-03-05,57,Fernando,Alonso,ALO,5,3,15,Finished,+38.637,5675373,1:36.156,96156.0,202.620,5.0,36.0,Aston Martin,aston_martin
3,2023,1,Bahrain Grand Prix,2023-03-05,57,Carlos,Sainz,SAI,4,4,12,Finished,+48.052,5684788,1:37.130,97130.0,200.588,14.0,37.0,Ferrari,ferrari
4,2023,1,Bahrain Grand Prix,2023-03-05,57,Lewis,Hamilton,HAM,7,5,10,Finished,+50.977,5687713,1:36.546,96546.0,201.802,10.0,36.0,Mercedes,mercedes

In [10]:
df_race_results['status'].unique()

array(['Finished', '+1 Lap', '+2 Laps', 'Mechanical', 'Engine',
       'Electrical', 'Brakes', 'Collision', 'Accident', 'Overheating',
       'Collision damage', 'Power loss', 'Oil leak', 'Retired',
       'Undertray', 'Steering', 'Technical', 'Gearbox', 'Withdrew',
       'Rear wing', 'Illness', 'Fuel leak', 'Radiator', 'Disqualified'],
      dtype=object)

In [11]:
df_qualifying_results.head(5)

,season,round,date,position,q1,q1_ms,q2,q2_ms,q3,q3_ms,first_name,last_name,driver_code,team
0,2023,1,2023-03-05,1,1:31.295,91295.0,1:31.295,91295.0,1:31.295,91295.0,Max,Verstappen,VER,Red Bull
1,2023,1,2023-03-05,2,1:31.479,91479.0,1:31.479,91479.0,1:31.479,91479.0,Sergio,Pérez,PER,Red Bull
2,2023,1,2023-03-05,3,1:31.094,91094.0,1:31.094,91094.0,1:31.094,91094.0,Charles,Leclerc,LEC,Ferrari
3,2023,1,2023-03-05,4,1:30.993,90993.0,1:30.993,90993.0,1:30.993,90993.0,Carlos,Sainz,SAI,Ferrari
4,2023,1,2023-03-05,5,1:31.158,91158.0,1:31.158,91158.0,1:31.158,91158.0,Fernando,Alonso,ALO,Aston Martin

In [12]:
df_sprint_results.head(5)

,season,round,circuit,date,position,points,first_name,last_name,driver_code,team
0,2023,4,Azerbaijan Grand Prix,2023-04-30,1,8,Sergio,Pérez,PER,Red Bull
1,2023,4,Azerbaijan Grand Prix,2023-04-30,2,7,Charles,Leclerc,LEC,Ferrari
2,2023,4,Azerbaijan Grand Prix,2023-04-30,3,6,Max,Verstappen,VER,Red Bull
3,2023,4,Azerbaijan Grand Prix,2023-04-30,4,5,George,Russell,RUS,Mercedes
4,2023,4,Azerbaijan Grand Prix,2023-04-30,5,4,Carlos,Sainz,SAI,Ferrari

In [13]:
df_teams.head(5)

,season,team_id,team_url,team,team_nationality
0,2023-01-01,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
1,2023-01-01,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
2,2023-01-01,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
3,2023-01-01,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
4,2023-01-01,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian

In [14]:
# Drivers data modelling:
# Each driver will have his own table
# Aggregations made from races:
# - Total points in Season - done
# - Total races completed - done
# - Total pole positions - done
# - Times qualified better than teammate
# - Average qualifying delta vs teammate
# - Total DNFs - done
# - Total Crashes - done
# - DNFs rate - done
# - Crash rate - done
# - Total overtakes in season - not in current data
# - Average points per race - done
# - Average qualifying position
# - Average ending position - done
# - Total points in Sprint - done
# - Average Starting position Sprint - done
# - Average Finishing position Sprint - done

In [15]:
def load_dfs():
    file_list = ['df_race_results_2023.pkl', 'df_qualifying_results_2023.pkl', 'df_sprint_results_2023.pkl', 'df_drivers_2023.pkl']
    df_name_list = ['df_race_results', 'df_qualifying_results', 'df_sprint_results', 'df_drivers']

    for i in range(len(file_list)):
        f = file_list[i]
        with open(f, 'rb') as file:
            df_name_list[i] = pickle.load(file)

In [16]:
df_drivers['last_name'].unique()

array(['Albon', 'Alonso', 'Bottas', 'de Vries', 'Gasly', 'Hamilton',
       'Hülkenberg', 'Lawson', 'Leclerc', 'Magnussen', 'Norris', 'Ocon',
       'Pérez', 'Piastri', 'Ricciardo', 'Russell', 'Sainz', 'Sargeant',
       'Stroll', 'Tsunoda', 'Verstappen', 'Zhou'], dtype=object)

In [17]:
df_sprint_results

,season,round,circuit,date,position,points,first_name,last_name,driver_code,team
0,2023,4,Azerbaijan Grand Prix,2023-04-30,1,8,Sergio,Pérez,PER,Red Bull
1,2023,4,Azerbaijan Grand Prix,2023-04-30,2,7,Charles,Leclerc,LEC,Ferrari
2,2023,4,Azerbaijan Grand Prix,2023-04-30,3,6,Max,Verstappen,VER,Red Bull
3,2023,4,Azerbaijan Grand Prix,2023-04-30,4,5,George,Russell,RUS,Mercedes
4,2023,4,Azerbaijan Grand Prix,2023-04-30,5,4,Carlos,Sainz,SAI,Ferrari
...,...,...,...,...,...,...,...,...,...,...
115,2023,20,São Paulo Grand Prix,2023-11-05,16,0,Kevin,Magnussen,MAG,Haas F1 Team
116,2023,20,São Paulo Grand Prix,2023-11-05,17,0,Guanyu,Zhou,ZHO,Alfa Romeo
117,2023,20,São Paulo Grand Prix,2023-11-05,18,0,Nico,Hülkenberg,HUL,Haas F1 Team
118,2023,20,São Paulo Grand Prix,2023-11-05,19,0,Valtteri,Bottas,BOT,Alfa Romeo
119,2023,20,São Paulo Grand Prix,2023-11-05,20,0,Logan,Sargeant,SAR,Williams

In [18]:
df_race_results[(df_race_results['team'] == 'Aston Martin') & (df_race_results['last_name'] != 'Alonso')]['last_name'].unique()

array(['Stroll'], dtype=object)

In [19]:
import pickle
import pprint
import math

def get_driver_stats(driver):
    #get all driver names
    #if driver in driver names
    #then filter by its name in dataframe
    if driver in(df_drivers['last_name'].unique()):
        df_drivers_filtered = df_drivers[df_drivers['last_name'] == driver].copy()
        df_races_filtered = df_race_results[df_race_results['last_name'] == driver].copy()
        df_sprints_filtered = df_sprint_results[df_sprint_results['last_name'] == driver].copy()

        df_drivers_filtered['team'] = df_races_filtered['team'].unique()
        df_drivers_filtered['total_points_races'] = df_races_filtered['points'].sum()
        df_drivers_filtered['total_races_completed'] = df_races_filtered[df_races_filtered['status'] == 'Finished']['circuit'].count()
        df_drivers_filtered['total_points_sprint'] = df_sprints_filtered['points'].sum()
        df_drivers_filtered['total_pole_positions'] = df_races_filtered[df_races_filtered['starting_position'] == 1]['circuit'].count()
        df_drivers_filtered['total_dnfs'] = df_races_filtered[~df_races_filtered['status'].isin(['Finished', '+1 Lap', '+2 Laps'])]['circuit'].count()
        df_drivers_filtered['total_crashes'] = df_races_filtered[df_races_filtered['status'].isin(['Collision', 'Collision damage' 'Accident'])]['circuit'].count()
        df_drivers_filtered['dnf_ratio'] = round((df_drivers_filtered['total_dnfs']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_drivers_filtered['crash_ratio'] = round((df_drivers_filtered['total_crashes']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_drivers_filtered['avg_points_per_race'] = math.trunc(np.ceil(df_races_filtered['points'].mean()))
        df_drivers_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
        df_drivers_filtered['avg_qualifying_position'] = math.trunc(np.ceil(df_races_filtered['starting_position'].mean()))
        df_drivers_filtered['avg_ending_position_race'] = math.trunc(np.ceil(df_races_filtered['ending_position'].mean()))
        df_drivers_filtered['avg_ending_position_sprint'] = math.trunc(df_sprints_filtered['position'].mean())
        df_drivers_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
  
        return df_drivers_filtered
    else:
        print("Please type a correct driver name")

In [20]:
test = get_driver_stats('Zhou')
test

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,total_points_sprint,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
21,2023,Guanyu,Zhou,ZHO,1999-05-30,Chinese,24,Alfa Romeo,6,12,0,0,3,0,13.64%,0.0%,1,0,15,15,15

In [21]:
import pickle
import pprint
import math

def get_all_driver_stats(df_drivers):
    
    all_driver_dfs = []

    # get all driver surnames
    # loop through them and run the code below
    # append dataframe

    for driver in(df_drivers['last_name'].unique()):
        df_drivers_filtered = df_drivers[df_drivers['last_name'] == driver].copy()
        df_races_filtered = df_race_results[df_race_results['last_name'] == driver].copy()
        df_sprints_filtered = df_sprint_results[df_sprint_results['last_name'] == driver].copy()
        
        df_drivers_filtered['team'] = df_races_filtered['team'].unique()
        df_drivers_filtered['total_points_races'] = df_races_filtered['points'].sum()
        df_drivers_filtered['total_races_completed'] = df_races_filtered[df_races_filtered['status'] == 'Finished']['circuit'].count()
        df_drivers_filtered['total_points_sprint'] = df_sprints_filtered['points'].sum()
        df_drivers_filtered['total_pole_positions'] = df_races_filtered[df_races_filtered['starting_position'] == 1]['circuit'].count()
        df_drivers_filtered['total_dnfs'] = df_races_filtered[~df_races_filtered['status'].isin(['Finished', '+1 Lap', '+2 Laps'])]['circuit'].count()
        df_drivers_filtered['total_crashes'] = df_races_filtered[df_races_filtered['status'].isin(['Collision', 'Collision damage' 'Accident'])]['circuit'].count()
        df_drivers_filtered['dnf_ratio'] = round((df_drivers_filtered['total_dnfs']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_drivers_filtered['crash_ratio'] = round((df_drivers_filtered['total_crashes']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_drivers_filtered['avg_points_per_race'] = math.trunc(np.ceil(df_races_filtered['points'].mean()))
        df_drivers_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
        df_drivers_filtered['avg_qualifying_position'] = math.trunc(np.ceil(df_races_filtered['starting_position'].mean()))
        df_drivers_filtered['avg_ending_position_race'] = math.trunc(np.ceil(df_races_filtered['ending_position'].mean()))
        df_drivers_filtered['avg_ending_position_sprint'] = math.trunc(df_sprints_filtered['position'].mean())
        df_drivers_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))

        all_driver_dfs.append(df_drivers_filtered)

    all_drivers_merged_df = pd.concat(all_driver_dfs, ignore_index=True)        

    return all_drivers_merged_df

In [22]:
all_drivers = get_all_driver_stats(df_drivers)
all_drivers

,season,first_name,last_name,driver_code,driver_date_of_birth,driver_nationality,driver_perm_number,team,total_points_races,total_races_completed,total_points_sprint,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_race,avg_ending_position_sprint
0,2023,Alexander,Albon,ALB,1996-03-23,Thai,23,Williams,25,15,2,0,4,1,18.18%,4.55%,2,1,12,13,10
1,2023,Fernando,Alonso,ALO,1981-07-29,Spanish,14,Aston Martin,198,20,8,0,2,0,9.09%,0.0%,9,2,7,7,10
2,2023,Valtteri,Bottas,BOT,1989-08-28,Finnish,77,Alfa Romeo,10,12,0,0,3,0,13.64%,0.0%,1,0,13,14,15
3,2023,Nyck,de Vries,DEV,1995-02-06,Dutch,21,AlphaTauri,0,3,0,0,2,1,20.0%,10.0%,0,0,15,16,15
4,2023,Pierre,Gasly,GAS,1996-02-07,French,10,Alpine F1 Team,54,19,8,0,3,1,13.64%,4.55%,3,2,12,11,10
5,2023,Lewis,Hamilton,HAM,1985-01-07,British,44,Mercedes,217,20,17,1,2,1,9.09%,4.55%,10,3,7,7,6
6,2023,Nico,Hülkenberg,HUL,1987-08-19,German,27,Haas F1 Team,6,10,3,0,2,0,9.09%,0.0%,1,1,10,15,14
7,2023,Liam,Lawson,LAW,2002-02-11,New Zealander,40,AlphaTauri,2,3,0,0,0,0,0.0%,0.0%,1,0,14,13,20
8,2023,Charles,Leclerc,LEC,1997-10-16,Monegasque,16,Ferrari,185,17,21,5,5,1,22.73%,4.55%,9,4,5,9,6
9,2023,Kevin,Magnussen,MAG,1992-10-05,Danish,20,Haas F1 Team,3,7,0,0,5,1,22.73%,4.55%,1,0,13,16,14
10,2023,Lando,Norris,NOR,1999-11-13,British,4,McLaren,184,18,21,0,1,0,4.55%,0.0%,9,4,8,8,6
11,2023,Esteban,Ocon,OCO,1996-09-17,French,31,Alpine F1 Team,56,13,2,0,7,1,31.82%,4.55%,3,1,11,12,12
12,2023,Sergio,Pérez,PER,1990-01-26,Mexican,11,Red Bull,260,19,25,2,2,0,9.09%,0.0%,12,5,8,6,8
13,2023,Oscar,Piastri,PIA,2001-04-06,Australian,81,McLaren,82,14,15,0,3,0,13.64%,0.0%,4,3,10,11,7
14,2023,Daniel,Ricciardo,RIC,1989-07-01,Australian,3,AlphaTauri,6,4,0,0,0,0,0.0%,0.0%,1,0,14,13,10
15,2023,George,Russell,RUS,1998-02-15,British,63,Mercedes,157,18,18,0,4,0,18.18%,0.0%,8,3,7,9,6
16,2023,Carlos,Sainz,SAI,1994-09-01,Spanish,55,Ferrari,178,19,22,2,3,0,13.64%,0.0%,9,4,6,8,5
17,2023,Logan,Sargeant,SAR,2000-12-31,American,2,Williams,1,9,0,0,7,1,31.82%,4.55%,1,0,16,16,18
18,2023,Lance,Stroll,STR,1998-10-29,Canadian,18,Aston Martin,68,16,6,0,5,0,22.73%,0.0%,4,1,11,12,11
19,2023,Yuki,Tsunoda,TSU,2000-05-11,Japanese,22,AlphaTauri,14,14,3,0,3,1,13.64%,4.55%,1,1,14,14,14
20,2023,Max,Verstappen,VER,1997-09-30,Dutch,33,Red Bull,530,22,45,12,0,0,0.0%,0.0%,25,8,4,2,1
21,2023,Guanyu,Zhou,ZHO,1999-05-30,Chinese,24,Alfa Romeo,6,12,0,0,3,0,13.64%,0.0%,1,0,15,15,15

In [23]:
# def get_stats_vs_teammate(driver):
#     if driver in(df_drivers['last_name'].unique()):
#         print(f"The driver is: {driver}")
#         # getting race results dataframe for selected driver
#         df_races_driver_filtered = df_race_results[df_race_results['last_name'] == driver].copy()
#         team = str(df_races_driver_filtered['team'].unique())
#         print(f"The team is: {team}")
#         print(f"The team is of type {type(team)}")
#         teammate = str(df_race_results[(df_race_results['team'] == team) & (df_race_results['last_name'] != driver)]['last_name'].unique())
#         print(f"The teammate is: {teammate}")
#         #df_races_driver_teammate_filtered = df_race_results[(df_race_results['team'] == df_races_driver_filtered['team'].unique()) & (df_race_results['last_name'] != df_races_driver_filtered['last_name'].unique())]['last_name'].copy()

#         #return df_races_driver_filtered, df_races_driver_teammate_filtered

In [24]:
# def format_time(ms):
#     # Convert milliseconds to total seconds
#     seconds = int(ms // 1000)
#     milliseconds = int(ms % 1000)
#     minutes = seconds // 60
#     seconds = seconds % 60?
    
#     # Format as mm:ss:ms
#     return f"{minutes:02}:{seconds:02}:{milliseconds:03}"

# # Apply the formatting function to the DataFrame column
# df['FormattedTime'] = df['TimeInMilliseconds'].apply(format_time)

In [25]:
# Teams data modelling:
# Each team will have its own table
# Aggregations made from races:
# - Total points in Season - done
# - Total DNFs - done
# - Total Crashes - done
# - Crash rate
# - DNFs rate
# - Average points per race
# - Fastest Pitstop
# - Pitstop Average Time per race
# - Fastest Pitstop Time Rank compared to other teams
# - Total races completed
# - Total overtakes in season - not in current data
# - Average starting position
# - Average qualifying position
# - Average ending position

In [26]:
df_race_results[df_race_results['team'] == 'Aston Martin']['last_name'].unique()

array(['Alonso', 'Stroll'], dtype=object)

In [27]:
def get_team_stats(team):
    df_teams_filtered = df_teams[df_teams['team'] == team].copy()
    df_races_filtered = df_race_results[df_race_results['team'] == team].copy()
    df_sprints_filtered = df_sprint_results[df_sprint_results['team'] == team].copy()

    # getting drivers from team
    df_teams_filtered['drivers'] = str(df_races_filtered['last_name'].unique())
        
    df_teams_filtered['total_points_season'] = df_races_filtered['points'].sum()
    df_teams_filtered['total_points_sprint'] = df_sprints_filtered['points'].sum()
    df_teams_filtered['total_pole_positions'] = df_races_filtered[df_races_filtered['starting_position'] == 1]['circuit'].count()
    df_teams_filtered['total_dnfs'] = df_races_filtered[~df_races_filtered['status'].isin(['Finished', '+1 Lap', '+2 Laps'])]['circuit'].count()
    df_teams_filtered['total_crashes'] = df_races_filtered[df_races_filtered['status'].isin(['Collision', 'Collision damage', 'Accident'])]['circuit'].count()
    df_teams_filtered['dnf_ratio'] = round((df_teams_filtered['total_dnfs']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
    df_teams_filtered['crash_ratio'] = round((df_teams_filtered['total_crashes']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
    df_teams_filtered['avg_points_per_race'] = math.trunc(np.ceil(df_races_filtered['points'].mean()))
    df_teams_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
    df_teams_filtered['avg_qualifying_position'] = math.trunc(np.ceil(df_races_filtered['starting_position'].mean()))
    df_teams_filtered['avg_ending_position_sprint'] = math.trunc(df_sprints_filtered['position'].mean())

    return df_teams_filtered

In [28]:
print(df_teams.columns)
print(df_race_results.columns)
print(df_sprint_results.columns)

Index(['season', 'team_id', 'team_url', 'team', 'team_nationality'], dtype='object')
Index(['season', 'round', 'circuit', 'date', 'laps', 'first_name', 'last_name',
       'driver_code', 'starting_position', 'ending_position', 'points',
       'status', 'finish_time', 'finish_time_ms', 'fastest_lap_time',
       'fastest_lap_time_ms', 'fastest_lap_avg_speed', 'fastest_lap_rank',
       'fastest_lap_lap', 'team', 'team_id'],
      dtype='object')
Index(['season', 'round', 'circuit', 'date', 'position', 'points',
       'first_name', 'last_name', 'driver_code', 'team'],
      dtype='object')

In [29]:
test = get_team_stats('Aston Martin')
display(test)

,season,team_id,team_url,team,team_nationality,drivers,total_points_season,total_points_sprint,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_sprint
3,2023-01-01,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British,['Alonso' 'Stroll'],266,14,0,7,2,15.91%,4.55%,7,2,9,10

In [32]:
df_teams['team'].unique()

array(['Alfa Romeo', 'AlphaTauri', 'Alpine F1 Team', 'Aston Martin',
       'Ferrari', 'Haas F1 Team', 'McLaren', 'Mercedes', 'Red Bull',
       'Williams'], dtype=object)

In [33]:
def get_all_teams_stats(df_teams):
    all_teams_dfs = []

    for team in (df_teams['team'].unique()):

        df_teams_filtered = df_teams[df_teams['team'] == team].copy()
        df_races_filtered = df_race_results[df_race_results['team'] == team].copy()
        df_sprints_filtered = df_sprint_results[df_sprint_results['team'] == team].copy()

        # getting drivers from team
        df_teams_filtered['drivers'] = str(df_races_filtered['last_name'].unique())
            
        df_teams_filtered['total_points_season'] = df_races_filtered['points'].sum()
        df_teams_filtered['total_points_sprint'] = df_sprints_filtered['points'].sum()
        df_teams_filtered['total_pole_positions'] = df_races_filtered[df_races_filtered['starting_position'] == 1]['circuit'].count()
        df_teams_filtered['total_dnfs'] = df_races_filtered[~df_races_filtered['status'].isin(['Finished', '+1 Lap', '+2 Laps'])]['circuit'].count()
        df_teams_filtered['total_crashes'] = df_races_filtered[df_races_filtered['status'].isin(['Collision', 'Collision damage', 'Accident'])]['circuit'].count()
        df_teams_filtered['dnf_ratio'] = round((df_teams_filtered['total_dnfs']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_teams_filtered['crash_ratio'] = round((df_teams_filtered['total_crashes']/df_races_filtered['circuit'].count())* 100, 2).astype(str) + '%'
        df_teams_filtered['avg_points_per_race'] = math.trunc(np.ceil(df_races_filtered['points'].mean()))
        df_teams_filtered['avg_points_per_sprint'] = math.trunc(np.ceil(df_sprints_filtered['points'].mean()))
        df_teams_filtered['avg_qualifying_position'] = math.trunc(np.ceil(df_races_filtered['starting_position'].mean()))
        df_teams_filtered['avg_ending_position_sprint'] = math.trunc(df_sprints_filtered['position'].mean())

        all_teams_dfs.append(df_teams_filtered)

    all_teams_merged_df = pd.concat(all_teams_dfs, ignore_index=True)

    return all_teams_merged_df

In [34]:
test_all_teams = get_all_teams_stats(df_teams)
test_all_teams

,season,team_id,team_url,team,team_nationality,drivers,total_points_season,total_points_sprint,total_pole_positions,total_dnfs,total_crashes,dnf_ratio,crash_ratio,avg_points_per_race,avg_points_per_sprint,avg_qualifying_position,avg_ending_position_sprint
0,2023-01-01,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss,['Bottas' 'Zhou'],16,0,0,6,2,13.64%,4.55%,1,0,14,15
1,2023-01-01,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian,['Tsunoda' 'de Vries' 'Ricciardo' 'Lawson'],22,3,0,5,3,11.36%,6.82%,1,1,14,13
2,2023-01-01,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French,['Gasly' 'Ocon'],110,10,0,10,6,22.73%,13.64%,3,1,11,11
3,2023-01-01,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British,['Alonso' 'Stroll'],266,14,0,7,2,15.91%,4.55%,7,2,9,10
4,2023-01-01,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,['Sainz' 'Leclerc'],363,43,7,8,2,18.18%,4.55%,9,4,6,5
5,2023-01-01,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American,['Magnussen' 'Hülkenberg'],9,3,0,7,4,15.91%,9.09%,1,1,12,14
6,2023-01-01,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British,['Norris' 'Piastri'],266,36,0,4,2,9.09%,4.55%,7,3,9,7
7,2023-01-01,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German,['Hamilton' 'Russell'],374,35,1,6,2,13.64%,4.55%,9,3,7,6
8,2023-01-01,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian,['Verstappen' 'Pérez'],790,70,14,2,2,4.55%,4.55%,18,6,6,4
9,2023-01-01,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,['Albon' 'Sargeant'],26,2,0,11,6,25.0%,13.64%,1,1,14,14